<main>
    <h1>MUSIC APP</h1>
    <h2>SIGN-IN</h2>

    <form action="<%= session_url %>" method="post">
        <input type="hidden" 
            name="authenticity_token" 
            value="<%= form_authenticity_token %>">

        <label for="email">Email</label>
        <input type="text" id="email" name="session[email]"><br><br>

        <label for="password">Password</label>
        <input type="password" id="password" name="session[password]"><br><br>

        <input type="submit" value="Submit">
    </form>

</main>