<main>
    <h2 class="page-name">SIGN-IN</h2>
    <%= link_to 'Go to Sign-Up!', new_user_url, class: "button" %>

    <form action="<%= session_url %>" method="post" class="flex-column">
        <%= auth_token %>

        <div class="flex">
            <label for="email">Email</label>
            <input type="text" id="email" name="session[email]">
        </div>

        <div class="flex">
            <label for="password">Password</label>
            <input type="password" id="password" name="session[password]">
        </div>

        <input type="submit" value="Submit" class="button submit">
    </form>

</main>