<form action="<%= notes_url %>" method="post">
    <%= auth_token %>
    <label for="note">Content</label>
    <textarea name="notes[note]" id="note" cols="30" rows="10"></textarea>
    <input type="hidden" name="notes[track_id]" value="<%= track.id %>">
    <input type="submit" name="Submit Query" class="button submit-button">
</form>