<main>
    <h2 class="page-name">NEW USER</h2>
    <%= link_to 'Go to Sign-In!', new_session_url, class: "button" %>

    <form action="<%= users_url %>" method="post" class="flex-column">
        <%= auth_token %>

        <div class="flex">
            <label for="email">Email</label>
            <input type="text" id="email" name="user[email]">
        </div>

        <div class="flex">
            <label for="password">Password</label>
            <input type="password" id="password" name="user[password]">
        </div>

        <input type="submit" value="Submit" class="button submit">
    </form>

</main>