/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, section, article, h1, h2, h3, p, a, div {
    margin: 0;
    border: 0;
    padding: 0;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;

    background: transparent;
}
li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #111;
    --yellow: #FDDB61;
    --orange: orange;
    --dark-blue: dodgerblue;
    --light-blue: skyblue;
    --electric-blue: #39BAAC;
}
.main-content {
    width: 800px;
    border: solid grey 5px;
    border-top: none;
    border-bottom: none;
    background-color: #343030;
    margin: 0 auto;
    height: 100vh;
    padding: 30px;
}
main, section {
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.logo {
    font-size: 75px;
    margin-bottom: 30px;
    color: var(--yellow);
}
.page-name {
    color: var(--electric-blue);
    font-size: 40px;
    margin-bottom: 30px;
}
.logo, .page-name, h3 {
    font-family: 'Bungee Inline', cursive;
}
.button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--light-blue);
    color: #000;
    margin-bottom: 20px;
}
.button:hover {
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
    transition: .5s;
}
ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
.big-button {
    background-color: var(--yellow);
    height: 100px;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    width: calc(33% - 40px);
    text-align: center;
    display: flex;
}
.big-button a {
    height: 100%;
    width: 100%;
    align-items: center;
    vertical-align: center;
}
.big-button:hover {
    background-color: var(--orange);
}
.submit {
    align-self: flex-end;
}
h3 {
    color: var(--orange);
    font-size: 25px;
    margin: 20px 0;
}
/* Forms */
label {
    color: white;
}
form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
div {
    width: inherit;
}
.delete-button {
    display: inline;
}
/* Top nav bar */
.top-bar, .top-bar div {
    display: flex;
}
.top-bar {
    justify-content: space-between;
}
.logged {
    width: auto;
}
p {
    color: white;
}
#logged-p {
    padding-right: 20px;
    padding-top: 10px;
}